body {
  background: rgb(36, 68, 107);
  background: linear-gradient(
    164deg,
    rgba(36, 68, 107, 1) 0%,
    rgba(36, 68, 107, 1) 27%,
    rgba(10, 20, 31, 1) 100%
  );
  color: white;
}
div > a {
  color: white;
  font-size: 1px;
  font-weight: 100px;
}
h3 {
  font-family: 'Gothic A1', sans-serif;
}
nav {
  background: transparent;
  justify-content: center;
  text-align: center;
}
span {
  font-size: 13px;
  display: flex;
}
